html{
	height: 100%;
}

body{
	height: 100%;
}
header.filtroazul{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(29, 28, 60, 0.4);
}

html h2{

	font-family: 'Oswald', sans-serif;
	box-sizing: border-box;
	font-size: 60px;
	text-transform:uppercase;
	letter-spacing:2px;
	color: $celeste;
	padding:40px 40px;
	display:inline-block;
 }

.video{
	position: absolute;
	z-index: -5;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
}
div.logoyleyenda{
	display: flex;
	flex-direction: column;
	align-items: center;
		img.logo{
		height:30%;
		width:30%;
		margin: 0 0 22px 0;
		}
		h1{
		font-family: 'Oswald', sans-serif;
		font-size:100%;
		color: white;
		text-transform: uppercase;
		letter-spacing: 8px;
	}	
}

div.contnav nav.navcolor{
	background: rgb(255,85,33);
	background: -moz-linear-gradient(90deg, rgba(255,85,33,1) 0%, rgba(255,160,96,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(255,85,33,1) 0%, rgba(255,160,96,1) 100%);
	background: linear-gradient(90deg, rgba(255,85,33,1) 0%, rgba(255,160,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5521",endColorstr="#ffa060",GradientType=1);
	opacity: 0.75;
	box-shadow:3px 5px 10px rgba(255,85,33,0.3);
}

//* SECTION QUE HACEMOS *// 

section.quehacemos div.row{
justify-content: flex-start;
}
section.quehacemos{
		box-shadow:0 5px 10px rgba(0,0,0,0.4);
	div.contimgquehacemos{
	background-image: url("../images/bkgquehacemos.jpeg");
	background-size:cover;
	background-attachment: fixed;
	padding:0;

		
	img.mic{
		left:0;
		width:70%;
	}
}

	div.artquehacemos{
		justify-content:center;
		align-items:center;
	article.quehacemos{
		font-family: Raleway, sans-serif;
		box-sizing: border-box;
		padding:0 0 40px 0;
			h2.h2quehacemos{
			font-size:70px;
			}
			ul.quehacemos{
				padding:0 0 0 40px;
				letter-spacing:1px;
					li{
						margin:5px 0;
					}
			}
			
		}

	}
}

//* SECTION QUIEN NOS VISITO *// 

section.quien{
	box-shadow:0 5px 10px rgba(0,0,0,0.4);
	div.contquien{
	display: flex;
	flex-direction: column;
	width: 100%;
		h2{
			text-align:right;
			margin:0 0 20px 0;
		}
		& div.galeriaquienes{
			box-sizing: content-box;
			width: 100%;
			height: auto;

		}
}
} 

//* SECTION YOUTUBE *// 

section.youtube{  
	box-shadow:0 5px 10px rgba(0,0,0,0.4);
	div.row{
		div{
			display:flex;
			align-items: center;
			justify-content: center;
		}
		div.contover{
			position:relative;
			width:100%;
			div.overlay{
					height: 100%;
					width:100%;
					position:absolute;
					left:0;
					top:0;
					background-color: rgba(29, 28, 60, 0.5);
					transition:0.3s;
					z-index:2;
			}
		div.overlay:hover{
					background-color: rgba(29, 28, 60, 0);
		}
		}
		div.yt1{
			background: rgb(98,37,122);
			background: -moz-linear-gradient(9deg, rgba(98,37,122,1) 0%, rgba(38,24,102,1) 100%);
			background: -webkit-linear-gradient(9deg, rgba(98,37,122,1) 0%, rgba(38,24,102,1) 100%);
			background: linear-gradient(9deg, rgba(98,37,122,1) 0%, rgba(38,24,102,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#62257a",endColorstr="#261866",GradientType=1);
			border: solid 1px white;
			position: relative;
			padding:50px 20px;
			align-items:top;
			display:inline-block;
				div.sticky{
					flex-direction:column;
					top:100px;
					position:sticky;
					h4{
					color:white;
				}
				}

	    }
		div.yt2{
			height: 100%;
			flex-direction: column;
			border: solid 1px white;
			padding:0;
			margin:0;
				a{
					    width: 100%;
					    text-decoration: none;
					    border: solid 1px white;
				}
				div.red{
					background-image: url("http://unsplash.it/900/600");
					background: cover;
					height:400px;
					width:100%;
					flex-direction:column;
					justify-content:center;
					align-items:center;
					position:relative;
				}
				div.produccion1{
					background-image: url("../images/Amouniversal.jpg");
					background-position: center top;
				}
				div.produccion2{
					background-image: url("../images/nellvalenti.jpg");
					background-position: center top;
				}
				div.produccion3{
					background-image: url("../images/esporti.jpg");
					background-position: center top;
				}
			}
		h3{
			color: white;
			font-size: 30px;
			display:inline;
			align-items:center;
			z-index:3;
		}
		p{
			color:white;
			z-index:3;
		}
	}
}
section.soundcloud{ 
	box-shadow:0 5px 10px rgba(0,0,0,0.4);
	margin:90px 0 0 0;

	h2.soundcloud{
		width:100%;
		margin:0 0 20px 0;
	}
}

section.contacto{
	margin: 50px 0;
		h2{
			width:100%;
			text-align:right;
		}
}
footer{
	background: rgb(255,85,33);
	background: -moz-linear-gradient(-45deg, rgba(255,85,33,1) 0%, rgba(255,160,96,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(255,85,33,1) 0%, rgba(255,160,96,1) 100%);
	background: linear-gradient(-45deg, rgba(255,85,33,1) 0%, rgba(255,160,96,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5521",endColorstr="#ffa060",GradientType=1);
	display:flex;
	width:100%;
	height:90px;
	justify-content:center;
			p.webmaster{
			color: white;
	
		}
}