/* Coolors Exported Palette - coolors.co/1a535c-4ecdc4-f7fff7-ff6b6b-ffe66d */


/* RGB */
$azul: rgba(26, 83, 92, 1);
$celeste: rgba(78, 205, 196, 1);
$blanco: rgba(247, 255, 247, 1);
$rojo: rgba(255, 107, 107, 1);
$naranja: rgba(255, 155, 0, 1);
$naranjaspan: rgba(255, 155, 0, 0.5);
$violeta: rgba(241, 184, 255, 1);
$violetabkg: rgba(251, 233, 255, 0.2);